* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 16px;

  --body-bg: #ECE3DA;
  --roasting-bg: #FFF;
}

body {
  background-color: var(--body-bg);

  letter-spacing: 0.10rem;
}